name: "CI"

on:
  push:
    branches-ignore:
      - "main"

jobs:
  run-tests:
    runs-on: ubuntu-latest
    container: ubuntu
    strategy:
      matrix:
        python-version: ["3.10"]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: osspackrat_test
          POSTGRES_USER: osspackrat
          POSTGRES_DB: osspackrat_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r requirements.txt
      - name: Run tests
        run: pytest
        env:
          DB_HOST: postgres
          DB_USER: osspackrat
          DB_PORT: 5432
          DB_PASSWORD: osspackrat_test
          DB_NAME: osspackrat_test
